body,
html {
  width: 100%;
  height: 100%;
  background: url(art-medium.jpg) no-repeat center center fixed;
  background-size: cover;
}

h1 {
  font-size: 3rem;
  color: #058282;
/*  text-transform: uppercase;*/
  text-align: center;
}

.flag {
  display: flex;
  justify-content: center;
  height: 10em;
}